{{right_sidebar_enabled=True}}
{{left_sidebar_enabled=True}}
{{extend 'layout.html'}}

<div class="span3 left-sidebar">
            {{block left_sidebar}}
            <h4>Корпус</h4>
            <ul>
{{for text in texts:}}
       <li> {{=A(text.name, " ", text.family, ". ", _href=URL('author', "all_author", args=text.id))}} </li>
{{pass}} </ul>
            {{end}}
        </div>
        {{pass}}

        <div class="{{=middle_columns}}">
            {{block center}}<h4>Тест</h4>
            <p>Концептуальный текст тут.</p>
            {{include}}
            {{end}}
        </div>

{{block right_sidebar}}

<h4>{{=T("Доступные функции")}}</h4>
<ul>
    <li> {{=A("Хронология", _href=URL("calendar", "index"))}}</li>
  <li>{{=A("Цвета", _href=URL("color", "index"))}}</li>
  <li>{{=A("Контекстный поиск", _href=URL("context", "index"))}}</li>
  <li>{{=A("По частям речи", _href=URL("count", "index"))}}</li>
    <li><a href = 'https://concordance.pythonanywhere.com/test/morpho/count_partos.html'>Морфологическая статистика</a></li>
    <li>{{=A("Test it", _href=("search_for_files"))}}</li>
</ul>
{{end}}
