{{extend 'layout.html'}}

<h3>{{=text2.author}}. {{=text2.title}}</h3>
<table>
    <tr><th>Параметр</th><th>Значение</th></tr>
<tr><td>Средняя длина слова</td><td>{{=sr_ar}}</td></tr>
  <tr><td>Количество слов</td><td>{{=quantity}}</td></tr>
  <tr><td>Количество словоформ</td><td>{{=len(normal)}}</td></tr>
    <tr><td>Насыщенность словаря</td><td>{{=slovar}}</td></tr>
    <tr><td>Количество предложений</td><td>{{=sentences}}</td></tr>
    <tr><td>Средняя длина предложения</td><td> {{=dlina_predl}} слов</td></tr>
  
</table>
