{{extend 'layout.html'}}
<h1>Векторная модель</h1>

<table>

<tr>
<td><h4>Любовь</h4>
{{for all in model1.most_similar(positive=['любовь'.decode('utf-8')], topn=20):}}
<li>{{=all[0]}}, {{=all[1]}}</li>
{{pass}}
    </td>
    <td><h4>Окно</h4>
{{for all in model1.most_similar(positive=['окно'.decode('utf-8')], topn=20):}}
<li>{{=all[0]}}, {{=all[1]}}</li>
{{pass}}
    </td>
       <td><h4>{{=words[2]}}</h4>
{{for all in model1.most_similar(positive=['сон'.decode('utf-8')], topn=20):}}
<li>{{=all[0]}}, {{=all[1]}}</li>
{{pass}}
    </td>

               <td>
                   <h4>{{=words[3]}}</h4>
{{for all in model1.most_similar(positive=['огонь'.decode('utf-8')], topn=20):}}
<li>{{=all[0]}}, {{=all[1]}}</li>
{{pass}}
    </td>

        </tr>
<tr>
<td><h4>{{=words[4]}}</h4>
{{for all in model1.most_similar(positive=['мир'.decode('utf-8')], topn=20):}}
<li>{{=all[0]}}, {{=all[1]}}</li>
{{pass}}
    </td>

       <td><h4>{{=words[5]}}</h4>
{{for all in model1.most_similar(positive=['море'.decode('utf-8')], topn=20):}}
<li>{{=all[0]}}, {{=all[1]}}</li>
{{pass}}
    </td>
           <td><h4>{{=words[6]}}</h4>
{{for all in model1.most_similar(positive=['день'.decode('utf-8')], topn=20):}}
<li>{{=all[0]}}, {{=all[1]}}</li>
{{pass}}
    </td>
               <td>
                   <h4>{{=words[7]}}</h4>
{{for all in model1.most_similar(positive=['дом'.decode('utf-8')], topn=20):}}
<li>{{=all[0]}}, {{=all[1]}}</li>
{{pass}}
    </td>

        </tr>
    <tr>
<td><h4>Дождь</h4>
{{for all in model1.most_similar(positive=['дождь'.decode('utf-8')], topn=20):}}
<li>{{=all[0]}}, {{=all[1]}}</li>
{{pass}}
    </td>

       <td><h4>Ливень</h4>
{{for all in model1.most_similar(positive=['ливень'.decode('utf-8')], topn=20):}}
<li>{{=all[0]}}, {{=all[1]}}</li>
{{pass}}
    </td>
           <td><h4>Снег</h4>
{{for all in model1.most_similar(positive=['снег'.decode('utf-8')], topn=20):}}
<li>{{=all[0]}}, {{=all[1]}}</li>
{{pass}}
    </td>
               <td>
                   <h4>Ветер</h4>
{{for all in model1.most_similar(positive=['ветер'.decode('utf-8')], topn=20):}}
<li>{{=all[0]}}, {{=all[1]}}</li>
{{pass}}
    </td>

        </tr>
</table>
День/ночь{{=model1.similarity('день'.decode('utf-8'), 'ночь'.decode('utf-8'))}}<br/>

<ul>
    <li><a href="/test/concordance/birds.html">Птицы</a></li>
</ul>
