{{extend 'layout.html'}}
<h1>Это шаблон concordance/word2vec.html</h1>
{{=BEAUTIFY(response._vars)}}

<table>
<tr>
<td>
{{for all in model1.most_similar(positive=['синий', 'голубой', 'розовый'], topn=20):}}
<li>{{=all[0]}}</li>
{{pass}}
    </td>
    <td>
{{for all in model1.most_similar(positive=['золотой'], topn=20):}}
<li>{{=all[0]}}</li>
{{pass}}
    </td>
    </tr></table>
{{=model1.similarity('белый', 'чёрный')}}
{{=model1.similarity('белый', 'красный')}}
{{=model1.similarity('красный', 'чёрный')}}
