{{response.files.append(URL(r=request,c='static',f='/js/d3.js'))}}

{{response.files.append(URL('static', 'js/d3pie.min.js'))}}
{{response.files.append(URL('static', 'js/d3pie.js'))}}
{{extend 'layout.html'}}

{{=DIV(_id="pieChart")}}

<script>
    var pie = new d3pie("pieChart", {
	"header": {
		"title": {
			"text": "Цвета у Блока (том 1)",
			"fontSize": 24,
			"font": "open sans"
		},
		"subtitle": {
			"text": "Цветообозначения в первом томе лирики Блока.",
			"color": "#999999",
			"fontSize": 12,
			"font": "open sans"
		},
		"titleSubtitlePadding": 9
	},
	"footer": {
		"color": "#999999",
		"fontSize": 10,
		"font": "open sans",
		"location": "bottom-left"
	},
	"size": {
		"canvasWidth": 590
	},
	"data": {

		"content": [
            {
				"label": "Красный",
				"value": {{=colours[3]}},
				"color": "#cb2121"
			},
            {
				"label": "Розовый",
				"value": {{=colours[9]}},
				"color": "#ff69b4"
			},
                        {
				"label": "Алый",
				"value": {{=colours[15]}},
				"color": "#ff69b4"
			},
			{
				"label": "Желтый",
				"value": {{=colours[5]}},
				"color": "#FFF44F"
			},
                        {
				"label": "Жолтый",
				"value": {{=colours[13]}},
				"color": "#FFF44F"
			},
                         {
				"label": "Рыжий",
				"value": {{=colours[19]}},
				"color": "#FFF44F"
			},
                        {
				"label": "Золотой",
            "value": {{=colours[1]}},
				"color": "#F7D358"
			},
                        {
				"label": "Золотистый",
            "value": {{=colours[18]}},
				"color": "#F7D358"
			},
			{
				"label": "Зеленый",
                "value": {{=colours[0]}},
				"color": "#4daa4b"
			},
            {
				"label": "Голубой",
				"value": {{=colours[2]}},
				"color": "#2484c1"
			},
                         {
				"label": "Голубоватый",
				"value": {{=colours[20]}},
				"color": "#2484c1"
			},
                        {
				"label": "Лазурный",
				"value": {{=colours[14]}},
				"color": "#2484c1"
			},
                        {
				"label": "Лазоревый",
				"value": {{=colours[16]}},
				"color": "#2484c1"
			},
                        {
				"label": "Purple",
				"value": {{=colours[10]}},
				"color": "#800080"
			},
			{
				"label": "Violet",
				"value": {{=colours[11]}},
				"color": "#9F00FF"
			},
			{
				"label": "Brown",
				"value": {{=colours[7]}},
				"color": "#6B420F"
			},
			{
				"label": "Синий",
				"value": {{=colours[8]}},
				"color": "#2B3856"
			},
                        {
				"label": "Синева",
				"value": {{=colours[17]}},
				"color": "#2B3856"
			},
			{
				"label": "Серый",
				"value": {{=colours[12]}},
				"color": "#7C7474"
			},
                        {
				"label": "Черный",
				"value": {{=colours[6]}},
				"color": "#000000"
			},
                        {
				"label": "Белый",
				"value": {{=colours[4]}},
				"color": "#FFFFFF"
			}
		]
	},
	"labels": {
		"outer": {
			"pieDistance": 32
		},
		"inner": {
			"hideWhenLessThanPercentage": 3
		},
		"mainLabel": {
			"fontSize": 11
		},
		"percentage": {
			"color": "#ffffff",
			"decimalPlaces": 0
		},
		"value": {
			"color": "#adadad",
			"fontSize": 11
		},
		"lines": {
			"enabled": true
		}
	},
	"effects": {
		"pullOutSegmentOnClick": {
			"effect": "linear",
			"speed": 400,
			"size": 8
		}
	},
	"misc": {
		"gradient": {
			"enabled": true,
			"percentage": 100
		}
	}
});
</script>
