{{extend 'layout.html'}}
<h1>Слово Даниила Заточника</h1>
<table border='1px'>
    {{for x in range(0, 788):}}
<tr>
    <td>{{=text[0][x]}} </td> <td>{{for n in range(1,11):}} {{if len(text[n][x])<=3:}} — {{else:}} {{=text[n][x]}} {{pass}} <br>{{pass}} </td> <td>{{for x in range(1,11):}} {{=text[x][0]}}<br>{{pass}}</td>

</tr>

{{pass}}
    </table>

{{for all in titles:}}
<h6>    {{=all}}</h6>
    {{for s in model.docvecs.most_similar(titles.index(all)):}}
        {{=s[0]}} {{=s[1]}} <br>
    {{pass}}
{{pass}}
