{{extend 'layout.html'}}
<h1>Варианты текста</h1>
<h3>{{=text.author.name}} {{=text.author.family}}. {{=text.title}}</h3>
<script>
function fade(div_id1, div_id2, button) {
        $('.'+div_id1).fadeOut('slow');
        $('.'+div_id2).fadeIn('slow');
        $(button).css('color','red');
}
</script>

<table>
<tr>{{for s in ss:}}
<td>        <input type="button" onclick="fade('test', '{{=ss.index(s)}}', this)" value={{=book[0]}} class="content-button">
        <input type="button" onclick="fade('{{=ss.index(s)}}', 'test', this)" value={{=book[ss.index(s)+1]}} class="content-button">
    <p>&nbsp;
{{# <!-- подключаем заголовки, если они есть --> }}
        {{if text.title:}}
        <h4 style="color:green" class="{{=ss.index(s)}}">{{=text.title}}</h4>
        {{else:}}
        {{pass}}
        {{if other[ss.index(s)]['title']:}}
        <h4 class="test" style="color:blue">{{=other[ss.index(s)]['title']}}</h4>
        {{else:}}
            <h4>* * *</h4>
{{pass}}

<p>
{{for w in s:}}
  {{for aa in w:}}
        {{if '|' in aa or aa.startswith('?'):}}
            {{aa=aa}}
        {{elif aa.startswith('+'):}}
            <u><b style="color:blue" class="test">{{=aa[2:]}}</b></u>
        {{elif aa.startswith('-'):}}
            <i style="color:green" class="{{=ss.index(s)}}">{{=aa[2:]}}</i>
        {{else:}}
            {{=aa}}
        {{pass}}
    {{pass}} <br>
{{pass}}</td>
{{pass}}

  </tr></table>


<ul>
    <li>{{=biblio[0]}}</li>
{{for all in biblio1:}}
<li>{{=A(all.short, ' — ', all.title, '.', _href=URL('show', 'show_book', args=all.id))}} {{if all.city:}} {{=all.city}}: {{pass}} {{if all.editor:}} {{=all.editor}}, {{pass}} {{if all.year:}} {{=all.year}}. {{pass}} {{if all.part:}} {{=all.part}}. {{pass}}</li>
{{pass}}
    </ul>

<h4>{{=text.author.name}} {{=text.author.family}}: {{=A("другие тексты", _href=URL("author", "all_author", args=text.author.id))}} </h4>
