{{extend 'layout.html'}}
<h1>Сравнение лексики</h1>
{{=text1_info.author.family}}. {{=text1_info.title}} - {{=l1}} словоформ, <br>
{{=text2_info.author.family}}. {{=text2_info.title}} — {{=l2}} словоформ.<br>
Общего в словаре: {{=all}}<br>
<table>
    
<tr><td>Чего нет в тексте "{{=text2_info.title}}" ({{=len(result)}})
    
<ul>
{{for word in result:}}
<li>{{=word}}</li>
{{pass}}
    </ul></td>
<td>
Чего нет в тексте "{{=text1_info.title}}" ({{=len(result2)}}):
<ul>
    {{for word in result2:}}
    <li>{{=word}}</li>{{pass}}
    </ul></td></tr></table>
